<h1>welcome to Bookers!!</h1>

<h4>In Bookers,</h4>

<p>you can share and exchange your opinions, inpressions, and emptions</p>

<p>about various books!</p>

<%= link_to "Log in", user_session_path %>
<%= link_to "Sign up", new_user_registration_path %>